In [1]:
import requests
import yfinance as yf
import pandas as pd
from pprint import PrettyPrinter

In [2]:
#data = yf.download(tickers=['GBPUSD','EURUSD','AUDUSD','GBPNZD','USDCAD','GBPJPY'],period='4h',interval='1h')

In [3]:
pp = PrettyPrinter()

In [4]:
url = "https://marketdata.tradermade.com/api/v1/live"
currency = 'GBPUSD,EURUSD,AUDUSD,GBPNZD,USDCAD'
api_key = 'PhpjOzvaYdlX73oVnBMp'
querystring = {"currency":currency,"api_key":api_key}

response = requests.get(url, params=querystring)

pp.pprint(response.json())

{'endpoint': 'live',
 'quotes': [{'ask': 1.37221,
             'base_currency': 'GBP',
             'bid': 1.3715,
             'mid': 1.37186,
             'quote_currency': 'USD'},
            {'ask': 1.1747,
             'base_currency': 'EUR',
             'bid': 1.17445,
             'mid': 1.17457,
             'quote_currency': 'USD'},
            {'ask': 0.72128,
             'base_currency': 'AUD',
             'bid': 0.72111,
             'mid': 0.7212,
             'quote_currency': 'USD'},
            {'ask': 1.99222,
             'base_currency': 'GBP',
             'bid': 1.98915,
             'mid': 1.99069,
             'quote_currency': 'NZD'},
            {'ask': 1.26541,
             'base_currency': 'USD',
             'bid': 1.26509,
             'mid': 1.26525,
             'quote_currency': 'CAD'}],
 'requested_time': 'Mon, 23 Aug 2021 21:35:47 GMT',
 'timestamp': 1629754548}

In [5]:
import numpy as np

In [6]:
df = pd.DataFrame(response.json()['quotes'])

In [7]:
df

       ask base_currency      bid      mid quote_currency
0  1.37221           GBP  1.37150  1.37186            USD
1  1.17470           EUR  1.17445  1.17457            USD
2  0.72128           AUD  0.72111  0.72120            USD
3  1.99222           GBP  1.98915  1.99069            NZD
4  1.26541           USD  1.26509  1.26525            CAD

In [8]:
df['Time'] = response.json()['timestamp']

In [9]:
df['Time'] = pd.to_datetime(df['Time'],unit='s')

In [10]:
df['Instrument'] = df['base_currency'] + df['quote_currency']

In [11]:
df

,ask,base_currency,bid,mid,quote_currency,Time,Instrument
0,1.37221,GBP,1.37150,1.37186,USD,2021-08-23 21:35:48,GBPUSD
1,1.17470,EUR,1.17445,1.17457,USD,2021-08-23 21:35:48,EURUSD
2,0.72128,AUD,0.72111,0.72120,USD,2021-08-23 21:35:48,AUDUSD
3,1.99222,GBP,1.98915,1.99069,NZD,2021-08-23 21:35:48,GBPNZD
4,1.26541,USD,1.26509,1.26525,CAD,2021-08-23 21:35:48,USDCAD

In [12]:
df.drop(['base_currency','quote_currency'],axis=1)

       ask      bid      mid                Time Instrument
0  1.37221  1.37150  1.37186 2021-08-23 21:35:48     GBPUSD
1  1.17470  1.17445  1.17457 2021-08-23 21:35:48     EURUSD
2  0.72128  0.72111  0.72120 2021-08-23 21:35:48     AUDUSD
3  1.99222  1.98915  1.99069 2021-08-23 21:35:48     GBPNZD
4  1.26541  1.26509  1.26525 2021-08-23 21:35:48     USDCAD

In [13]:
df.set_index('Time')

,ask,base_currency,bid,mid,quote_currency,Instrument
Time,,,,,,
2021-08-23 21:35:48,1.37221,GBP,1.37150,1.37186,USD,GBPUSD
2021-08-23 21:35:48,1.17470,EUR,1.17445,1.17457,USD,EURUSD
2021-08-23 21:35:48,0.72128,AUD,0.72111,0.72120,USD,AUDUSD
2021-08-23 21:35:48,1.99222,GBP,1.98915,1.99069,NZD,GBPNZD
2021-08-23 21:35:48,1.26541,USD,1.26509,1.26525,CAD,USDCAD

In [14]:
df.reset_index()

,index,ask,base_currency,bid,mid,quote_currency,Time,Instrument
0,0,1.37221,GBP,1.37150,1.37186,USD,2021-08-23 21:35:48,GBPUSD
1,1,1.17470,EUR,1.17445,1.17457,USD,2021-08-23 21:35:48,EURUSD
2,2,0.72128,AUD,0.72111,0.72120,USD,2021-08-23 21:35:48,AUDUSD
3,3,1.99222,GBP,1.98915,1.99069,NZD,2021-08-23 21:35:48,GBPNZD
4,4,1.26541,USD,1.26509,1.26525,CAD,2021-08-23 21:35:48,USDCAD

In [15]:
data_ask = df['ask'].resample('15m',  how='ohlc', axis=0, fill_method='bfill')

#data_bid = df['bid'].resample('15Min').ohlc()

TypeError: resample() got an unexpected keyword argument 'how'

In [16]:
fx = ['GBPUSD','EURUSD','AUDUSD','GBPNZD','USDCAD']
dates = ["2021-08-23-05:00"]
array = []
url = "https://marketdata.tradermade.com/api/v1/minute_historical"
for i in fx:
    for date in dates: 
        querystring = {"currency":i,"date_time":date, "api_key":api_key}
        response = requests.get(url, params=querystring)
        array.append(response.json())

df = pd.DataFrame(array).drop(['endpoint'],axis=1)
df = df[['currency','close','high','low','open','date_time','request_time']]

In [17]:
df

,currency,close,high,low,open,date_time,request_time
0,GBPUSD,1.36482,1.36490,1.36480,1.36489,2021-08-23-05:00,"Mon, 23 Aug 2021 21:36:05 GMT"
1,EURUSD,1.17185,1.17190,1.17183,1.17188,2021-08-23-05:00,"Mon, 23 Aug 2021 21:36:06 GMT"
2,AUDUSD,0.71584,0.71596,0.71582,0.71594,2021-08-23-05:00,"Mon, 23 Aug 2021 21:36:06 GMT"
3,GBPNZD,1.99518,1.99544,1.99509,1.99527,2021-08-23-05:00,"Mon, 23 Aug 2021 21:36:07 GMT"
4,USDCAD,1.27752,1.27756,1.27732,1.27733,2021-08-23-05:00,"Mon, 23 Aug 2021 21:36:08 GMT"

In [41]:
import schedule
import datetime

In [43]:
today = datetime.date.today()
now = datetime.datetime.now()
t_delta = timedelta(days=1)

Setting up the functions

In [35]:
#works with the 4-hour scheduler. gets data every 4 hours
def four_hour():
    currency_pairs = ['GBPUSD','EURUSD','AUDUSD','GBPNZD','USDCAD']
    dates = now
    array = []
    url = "https://marketdata.tradermade.com/api/v1/minute_historical"
    for i in fx:
        for date in dates: 
            querystring = {"currency":i,"date_time":date, "api_key":api_key}
            response = requests.get(url, params=querystring)
            array.append(response.json())

    df = pd.DataFrame(array).drop(['endpoint'],axis=1)
    df = df[['currency','close','high','low','open','date_time','request_time']]
    return df

In [ ]:
#works with the 24-hour scheduler. Gets data every 24 hours

def twenty_four():
    fx = ['GBPUSD','EURUSD','AUDUSD','GBPNZD','USDCAD']
    dates = now - t_delta
    array = []
    url = "https://marketdata.tradermade.com/api/v1/historical"
    for i in fx:
        for date in dates: 
            querystring = {"currency":i,"date_time":date, "api_key":api_key}
            response = requests.get(url, params=querystring)
            array.append(response.json())

    df = pd.DataFrame(array).drop(['endpoint'],axis=1)
    df = df[['currency','close','high','low','open','date_time','request_time']]
    return df

Scheduler

In [ ]:
#4-hour Scheduler
schedule.every(4).hour.sunday.at("17:30").do(four_hour)

schedule.every(4).hour.monday.at("1:30").do(four_hour)

schedule.every(4).hour.tuesday.at("1:30").do(four_hour)

schedule.every(4).hour.wednesday.at("1:30").do(four_hour)

schedule.every(4).hour.thursday.at("1:30").do(four_hour)

schedule.every(4).hour.friday.at("1;30").do(four_hour)


while 1:
    schedule.run_pending()
    time.sleep(1)

In [ ]:
#24-hour scheduler
schedule.every(24).hour.sunday.at("17:30").do(twenty_four)

schedule.every(24).hour.monday.at("1:30").do(twenty_four)

schedule.every(24).hour.tuesday.at("1:30").do(twenty_four)

schedule.every(24).hour.wednesday.at("1:30").do(twenty_four)

schedule.every(24).hour.thursday.at("1:30").do(twenty_four)

schedule.every(24).hour.friday.at("1:30").do(twenty_four)


while today.day():
    schedule.run_pending()
    time.sleep(1)

In [40]:
schedule.every(4).hours.at('30:00').do(four_hour)

Every 4 hours at 00:30:00 do four_hour() (last run: [never], next run: 2021-08-24 18:30:00)